<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>微信墙</title>
    <style>
         img{
            width: 300px;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
</head>
<body ng-app="myApp" ng-controller="wxWallController">
    <div class="main-page">
            <div class="left-menu">
                <h1 class="left-menu-title">微信墙</h1>
                <div class="left-menu-wechat-icon">
                    <img src="/assets/images/wechat-icon.jpg">
                </div>
                <h2 class="left-menu-desc">关注我并发送消息就可以上墙啦</h2>
            </div>
            <div class="right-main">
                     <div class="right-main-message" ng-repeat="message in messages"> 
                    	<!-- //| filter:{orderBy:message.xml.CreateTime -->
                         <div name="message-icon">
                            <img class="right-main-message-icon" src="{{message.userInfo.headimgurl}}" alt="">
                        </div>
                        <div name="message-body">
                            <h1>{{message.user.nickname}}说:</h1>
                            <h2 ng-if="message.xml.MsgType[0]=='text'" class="right-main-message-body">&nbsp;&nbsp;{{message.xml.Content[0]}}</h2>
                            <!-- <img ng-if="message.xml.MsgType[0]=='image'" ng-src="{{message.xml.PicUrl[0]}}?wx_fmt=png"> -->
                            <div ng-bind-html-unsafe="showImage(message.xml.PicUrl[0])">

                            </div>
                        </div>  
                    </div>
                    
            </div>
    </div>
</body>
<script type="text/javascript" src="/assets/bower_components/angular/angular.min.js"></script>
<script type="text/javascript">

    var messageList =[];
    angular.module('myApp',[])
            .controller('wxWallController',function($scope){
            	var messages = []; 
            	var socket = io.connect('/');
            	socket.on('connected',function(){
            		console.log("连接成功");
            	});
            	socket.on('newMessage',function(message){
            		messageList.unshift(message)
            		$scope.$apply(function() {
               			$scope.messages = messageList;
           	 		});
            	});
            });
    function showImage(url) {
        var frameid = 'frameimg' + Math.random();
        window.img = '<img id="img" style="width:50%" src=\'' + url + '?' + Math.random() + '\' /><script>window.onload = function() { parent.document.getElementById(\'' + frameid + '\').height = document.getElementById(\'img\').height+\'px\'; }<' + '/script>';
        return ('<iframe id="'+frameid+'" src="javascript:parent.img;" frameBorder="0" scrolling="no" width="60%"></iframe>');
    }
</script>

</html>